In [7]:
import pickle
from collections import Counter
from multiprocessing.pool import Pool

import numpy as np
import pandas as pd

from countries import get_countries

In [ ]:
with open("data/actors.pkl", "rb") as f:
    df = pd.DataFrame(sorted(pickle.load(f)), columns=["nconst"])

def parallelize_dataframe(df, func, n_cores=12):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [2]:
df = parallelize_dataframe(df, get_countries)

In [3]:
df.to_pickle("data/birth_countries.pkl")

          nconst birth_country
0      nm0000001           USA
1      nm0000002           USA
2      nm0000003        France
3      nm0000006        Sweden
4      nm0000007           USA
...          ...           ...
13414  nm9656000
13415  nm9706424
13416  nm9712684
13417  nm9845146         India
13418  nm9969854

[13419 rows x 2 columns]

In [14]:
df_ = pd.read_pickle("data/birth_countries.pkl")
countries = Counter(df_["birth_country"].values).most_common()
for i, country in enumerate(countries):
    print(i, country)

0 ('USA', 2710)
1 ('', 2638)
2 ('Japan', 968)
3 ('UK', 635)
4 ('France', 585)
5 ('India', 583)
6 ('Italy', 497)
7 ('Germany', 394)
8 ('Turkey', 330)
9 ('Mexico', 279)
10 ('China', 272)
11 ('British India', 261)
12 ('Spain', 259)
13 ('Russia', 207)
14 ('Philippines', 206)
15 ('Canada', 157)
16 ('Egypt', 147)
17 ('Sweden', 126)
18 ('Argentina', 122)
19 ('Austria', 116)
20 ('Greece', 114)
21 ('Czech Republic', 109)
22 ('Hong Kong', 104)
23 ('Poland', 102)
24 ('Denmark', 100)
25 ('Taiwan', 89)
26 ('Australia', 75)
27 ('Hungary', 75)
28 ('Brazil', 70)
29 ('Iran', 61)
30 ('South Korea', 57)
31 ('Romania', 56)
32 ('Ukraine', 52)
33 ('Yugoslavia', 47)
34 ('Indonesia', 41)
35 ('Ireland', 39)
36 ('Belgium', 38)
37 ('Switzerland', 32)
38 ('Pakistan', 30)
39 ('Netherlands', 27)
40 ('Finland', 27)
41 ('Bulgaria', 23)
42 ('Austria-Hungary', 22)
43 ('British Crown Colony', 22)
44 ('Cuba', 21)
45 ('Korea', 18)
46 ('Algeria', 17)
47 ('Norway', 17)
48 ('Slovakia', 16)
49 ('Malaysia', 16)
50 ('Bangladesh', 16)
51 ('Israel', 15)
52 ('South Africa', 15)
53 ('Chile', 14)
54 ('Republic of China', 14)
55 ('Puerto Rico', 12)
56 ('Portugal', 12)
57 ('Croatia', 11)
58 ('Colombia', 10)
59 ('Lithuania', 9)
60 ('Latvia', 9)
61 ('Lebanon', 8)
62 ('West Germany', 8)
63 ('Morocco', 8)
64 ('Sri Lanka', 8)
65 ('Singapore', 8)
66 ('Uruguay', 8)
67 ('East Pakistan', 8)
68 ('Tunisia', 7)
69 ('Republic of Georgia', 7)
70 ('New Zealand', 6)
71 ('Czechoslovakia', 6)
72 ('Venezuela', 6)
73 ('Nepal', 6)
74 ('Albania', 5)
75 ('Vietnam', 5)
76 ('in Bangladesh', 5)
77 ('Dominican Republic', 5)
78 ('Azerbaijan', 5)
79 ('East Germany', 5)
80 ('Kazakhstan', 5)
81 ('Republic of Ireland', 4)
82 ('in Czech Republic', 4)
83 ('Cyprus', 4)
84 ('Thailand', 4)
85 ('Slovak Republic', 4)
86 ('Estonia', 4)
87 ('Serbia', 3)
88 ('Syria', 3)
89 ('USSR', 3)
90 ('Luxembourg', 3)
91 ('Armenia', 3)
92 ('Uzbekistan', 3)
93 ('Peru', 3)
94 ('Belarus', 3)
95 ('Ceylon', 3)
96 ('Monaco', 2)
97 ('Iraq', 2)
98 ('Costa Rica', 2)
99 ('Macedonia', 2)
100 ('British Burma', 2)
101 ('Moldova', 2)
102 ('Senegal', 2)
103 ('Republic of Moldova', 2)
104 ('México', 2)
105 ('Iceland', 2)
106 ('England', 2)
107 ('German Democratic Republic', 2)
108 ('Nigeria', 2)
109 ('North Korea', 2)
110 ('East Indies', 2)
111 ('Persia', 2)
112 ('British West Indies', 2)
113 ('US Virgin Islands', 1)
114 ('Swaziland', 1)
115 ('Saudi Arabia', 1)
116 ('Panama', 1)
117 ('Benin', 1)
118 ('Texas', 1)
119 ('Châlons-en-Champagne', 1)
120 ('Turkmenistan', 1)
121 ('Kyrgyzstan', 1)
122 ('Ottoman Empire', 1)
123 ('Guyana', 1)
124 ('Slovenia', 1)
125 ('Malta', 1)
126 ('Japan some sources say  April ', 1)
127 ('Gabon', 1)
128 ('Angola', 1)
129 ('Ivory Coast', 1)
130 ('Sikkim', 1)
131 ('Ecuador', 1)
132 ('Portuguese Macau', 1)
133 ('Eritrea', 1)
134 ('Democratic Republic of the Congo', 1)
135 ('East India', 1)
136 ('Bermuda', 1)
137 ('Occupied Manchuria', 1)
138 ('in Pakistan', 1)
139 ('USA some sources erroneously say  December ', 1)
140 ('Berlin', 1)
141 ('USA other sources say ', 1)
142 ('Georgia', 1)
143 ('czech republic', 1)
144 ('Federal Republic of Germany', 1)
145 ('Bosnia and Herzegovina', 1)
146 ('KocaeliTurkey', 1)
147 ('Tibet', 1)
148 ('Russian Empire', 1)
149 ('Laos', 1)
150 ('West Indies', 1)
151 ('at sea', 1)
152 ('Trinidad and Tobago', 1)
153 ('Fukuoka Prefecture', 1)
154 ('Libya', 1)
155 ('Afghanistan', 1)
156 ('Oklahoma', 1)
157 ('Germany some sources say ', 1)
158 ('Manila', 1)
159 ('Yemen', 1)
160 ('Yamaguchi Prefecture Japan', 1)
161 ('Crimea', 1)
162 ('Dutch East Indies', 1)
163 ('Congo', 1)
164 ('Haiti', 1)
165 ('Guatemala', 1)
166 ('the Dutch East Indies', 1)
167 ('Commonwealth of the Philippines', 1)
168 ('Phillippines', 1)
169 ('British Raj', 1)
170 ('Chinchwad', 1)
171 ('Teraute Dang Nepal', 1)